/* Gives a header with a shadow for depth */ 
h1       { background-color: #3399ff; 
	       padding-top: 45px;
		   font-size: 3.5em;
		   text-shadow: 2px 2px #807777;
		   text-align: center;
	       height: 120px;	   }
/* Configures the footer area */
footer   { background-color: #cc9966; 
		   font-size: .60em;
		   font-style: italic;
           text-align: center;
           padding-bottom: 10px; 
		   /* Gets rid of the white line at the top of the footer */
		   border-top-color: #cc9966;
           border-top-style: solid;
           border-top-width: 2px;		   }
/* Creates the green wrapper */
#wrapper { background-color: #33cc33;
           min-width: 900px;
		   max-width: 1280px;
		   box-shadow: 5px 5px 5px #b3b3b3;
           margin-left: auto; 
           margin-right: auto; }
/* Configures the background image in my files, sets the size and also changes the color of all the font
on the page in order to make it white and visible on the colors I chose for the background */ 
body     { background-image: url('Valheim-2.jpg');
           background-repeat: no-repeat;
           background-size: 1020px 580px;
		   color: #000000;
           font-family: Arial, Verdana, sans-serif; } 
/* Gives structure to the page */
main     { padding-left: 2em;
           padding-right: 2em;
		   padding-bottom: 2em;
		   display: block;    }
/* Configures a style class */
.bigstyle { font-size: 1.2em;
		   text-align: left;
           padding-top: 10px;
           text-shadow: 2px 2px #807777;	   }